<h1>
  Pagina Principal
</h1>


<div class="navbar">
  <div class="action">
  </div>
</div>  

<ul>
  <li>
    <div class = "action">
      <%= link_to "Inicio", root_path %>
    </div>
  </li>
  <li>
    <div class = "action">
      <%= link_to "Usuarios", users_path %>
    </div>
  </li>
</ul>